<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="mx.capacitarte.rycmvcweb2.persistence.mapper.ProfesoresMapper">

	<resultMap id="consultarProfesoresResultMap" type="mx.capacitarte.rycmvcweb2.VO.ProfesorVO" >
		<result property="id" column="ID" />
        <result property="nombre" column="NOMBRE" />
        <result property="apellidoPaterno" column="APELLIDO_PATERNO" />
        <result property="apellidoMaterno" column="APELLIDO_MATERNO" />
        <result property="edad" column="EDAD" />
        <result property="fechaRegistro" column="FECHA" />
	</resultMap>


	<select id="consultarProfesores" resultMap="consultarProfesoresResultMap">
		
        
        SELECT 
        FTN_ID_PROFESOR AS ID,
        FTC_NOMBRE_PROFESOR AS NOMBRE,
        FTC_APELLIDO_PAT_PROFESOR AS APELLIDO_PATERNO,
        FTC_APELLIDO_MAT_PROFESOR AS APELLIDO_MATERNO,
        FTN_EDAD_PROFESOR AS EDAD,
        FCD_FEH_CRE AS FECHA  
        FROM PROFESOR 
        ORDER BY FTC_APELLIDO_PAT_PROFESOR,FTC_APELLIDO_MAT_PROFESOR
	
	</select>
	
	
	
	<insert id="agregarProfesor">
				
				INSERT INTO PROFESOR 
				(FTN_ID_PROFESOR, FTC_NOMBRE_PROFESOR, FTC_APELLIDO_PAT_PROFESOR, FTC_APELLIDO_MAT_PROFESOR, FTN_EDAD_PROFESOR, FCB_VIGENCIA,  FCD_FEH_CRE, FCC_USU_CRE) 
				VALUES 
				(PROFESOR_SEQ.NextVal,  #{nombre} ,  #{apellidoPaterno} ,  #{apellidoMaterno} ,  #{edad} , '1' , SYSTIMESTAMP, 'SYS' )
				
				
				
	</insert>
	
	<select id="consultarIdGenerado" resultType="int">
		       
		        SELECT MAX (FTN_ID_PROFESOR) AS ID_MAXIMO FROM PROFESOR
	
	</select>
	
	<delete id="eliminarProfesor">
	
	       DELETE FROM PROFESOR WHERE FTN_ID_PROFESOR = #{id}
	</delete>

</mapper>