<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="mx.capacitarte.rycmvcweb2.persistence.mapper.VentasMapper">

	<resultMap id="consultarVentasResultMap" type="mx.capacitarte.rycmvcweb2.VO.VentaVO" >
		<result property="numeroFolio" column="FOLIO" />
        <result property="idProducto" column="ID" />
        <result property="descProducto" column="DESC_PRODUCTO" />
        <result property="cantidad" column="CANTIDAD" />
        <result property="idTipoUnidad" column="TIPO_UNIDAD" />
        <result property="descTipoUnidad" column="DESC_TIPO" />
        <result property="idPrecio" column="ID_PRECIO" />
        <result property="precioTotal" column="COSTO_TOTAL" />
        <result property="vigencia" column="VIGENCIA" />
        <result property="fechaCreacion" column="FECHA_CREACION" />
         <result property="usuarioCreacion" column="USUARIO_CREACION" />
        <result property="fechaActualizacion" column="FECHA_ACTUALIZACION" />
        <result property="usuarioActualizacion" column="USUARIO_ACTUALIZACION" />
	</resultMap>

	<select id="consultar" resultMap="consultarVentasResultMap">
		
        
               		 SELECT 
					    VENT.FTC_FOLIO AS FOLIO,
					    VENT.FTN_ID_PRODUCTO AS ID,
                        INV.FCC_VALOR AS DESC_PRODUCTO,
					    VENT.FTN_CANTIDAD AS CANTIDAD,
					    VENT.FTN_ID_TIPO_UNIDAD AS TIPO_UNIDAD,
                        INV.FCC_DESC AS DESC_TIPO,
                        VENT.FTN_ID_PRECIO AS ID_PRECIO,
					    VENT.PRECIO_TOTAL AS COSTO_TOTAL,
					    VENT.FCB_VIGENCIA AS VIGENCIA,
					    VENT.FCD_FEH_CRE AS FECHA_CREACION,
					    VENT.FCC_USU_CRE AS USUARIO_CREACION,
					    VENT.FCD_FEH_ACT AS FECHA_ACTUALIZACION,
					    VENT.FCC_USU_ACT AS USUARIO_ACTUALIZACION
					FROM TT_FARM_VENTAS VENT
                    INNER JOIN CAT_CATALOGO INV
                        ON INV.FCN_ID_CAT_CATALOGO = VENT.FTN_ID_PRODUCTO
						ORDER BY FTC_FOLIO, FTN_ID_PRODUCTO
        
	</select>
	
	<select id="consultarVentasTotales" resultMap="consultarVentasResultMap">
		
        
               		SELECT 
					    VENT.FTC_FOLIO AS FOLIO,
					    VENT.FTN_ID_PRODUCTO AS ID,
                        INV.FCC_VALOR AS DESC_PRODUCTO,
					    VENT.FTN_CANTIDAD AS CANTIDAD,
					    VENT.FTN_ID_TIPO_UNIDAD AS TIPO_UNIDAD,
                        INV.FCC_DESC AS DESC_TIPO,
                        VENT.FTN_ID_PRECIO AS ID_PRECIO,
					    VENT.PRECIO_TOTAL AS COSTO_TOTAL,
					    VENT.FCB_VIGENCIA AS VIGENCIA,
					    VENT.FCD_FEH_CRE AS FECHA_CREACION,
					    VENT.FCC_USU_CRE AS USUARIO_CREACION,
					    VENT.FCD_FEH_ACT AS FECHA_ACTUALIZACION,
					    VENT.FCC_USU_ACT AS USUARIO_ACTUALIZACION
					FROM TT_FARM_VENTAS VENT
                    INNER JOIN CAT_CATALOGO INV
                        ON INV.FCN_ID_CAT_CATALOGO = VENT.FTN_ID_PRODUCTO
						ORDER BY FTC_FOLIO, FTN_ID_PRODUCTO
        
	</select>
	
	<select id="consultarVentaPersonalizada" resultMap="consultarVentasResultMap">
	
	SELECT 
					    VENT.FTC_FOLIO AS FOLIO,
					    VENT.FTN_ID_PRODUCTO AS ID,
                        INV.FCC_VALOR AS DESC_PRODUCTO,
					    VENT.FTN_CANTIDAD AS CANTIDAD,
					    VENT.FTN_ID_TIPO_UNIDAD AS TIPO_UNIDAD,
                        INV.FCC_DESC AS DESC_TIPO,
                        VENT.FTN_ID_PRECIO AS ID_PRECIO,
					    VENT.PRECIO_TOTAL AS COSTO_TOTAL,
					    VENT.FCB_VIGENCIA AS VIGENCIA,
					    VENT.FCD_FEH_CRE AS FECHA_CREACION,
					    VENT.FCC_USU_CRE AS USUARIO_CREACION,
					    VENT.FCD_FEH_ACT AS FECHA_ACTUALIZACION,
					    VENT.FCC_USU_ACT AS USUARIO_ACTUALIZACION
					FROM TT_FARM_VENTAS VENT
					  INNER JOIN CAT_CATALOGO INV
                        ON INV.FCN_ID_CAT_CATALOGO = VENT.FTN_ID_PRODUCTO
                    <where> 
                    <if test="numeroFolio != null">
                    AND VENT.FTC_FOLIO = #{numeroFolio} 
                    </if>
                    <if test="idProducto != null">
                    AND VENT.FTN_ID_PRODUCTO = #{idProducto} 
                    </if>
                    <if test="vigencia != null">
                    AND VENT.FCB_VIGENCIA = #{vigencia}
                    </if>
                    </where>
						ORDER BY VENT.FTC_FOLIO
	
	</select>
	
	<insert id="agregarVenta">
	
	
	
		    INSERT INTO TT_FARM_VENTAS (
                            FTC_FOLIO,
                            FTN_ID_PRODUCTO,
                            FTN_CANTIDAD ,
                            FTN_ID_TIPO_UNIDAD,
                            FTN_ID_PRECIO,
                            PRECIO_TOTAL,
                            FCB_VIGENCIA,
                            FCD_FEH_CRE,
                            FCC_USU_CRE
                           )
                        VALUES (
                            FARM_VENTAS_SEQ.NEXTVAL,
                            #{idProducto},
                            #{cantidad},
                            #{idTipoUnidad},
                            #{idPrecio},
                            #{precioTotal},
                            #{vigencia},
                            SYSTIMESTAMP,
                            #{usuarioCreacion}
                        )
	
	</insert>
	

	
	<update id="actualizarVenta">
	
					UPDATE TT_FARM_VENTAS
                        SET
					    FTN_CANTIDAD = #{cantidad},
					    FTN_ID_TIPO_UNIDAD = #{idTipoUnidad},
                        FTN_ID_PRECIO = #{idPrecio},
					    PRECIO_TOTAL = #{precioTotal},
					    FCB_VIGENCIA = #{vigencia},
					    FCD_FEH_ACT = SYSTIMESTAMP,
					    FCC_USU_ACT = #{usuarioActualizacion}
						WHERE
						FTC_FOLIO = #{numeroFolio}
						AND FTN_ID_PRODUCTO =  #{idProducto} 
					
					
		
	</update>
	
	<delete id="eliminarVenta">
	
		DELETE FROM TT_FARM_VENTAS WHERE FTC_FOLIO = #{numeroFolio}
		
	</delete>
	

	<select id="consultarFolioGenerado" resultType="int">
		       
		        SELECT MAX (FTC_FOLIO) AS ID_MAXIMO FROM TT_FARM_VENTAS
	
	</select>
	
	<select id="ventaInventario" resultType="int">
	
SELECT 
SUM(FTN_CANTIDAD) 
FROM TT_FARM_INVENTARIO FF
        INNER JOIN CAT_CATALOGO CAT 
        ON CAT.FCN_ID_CAT_CATALOGO = FF.FTN_ID_PRODUCTO
        WHERE FF.FTN_ID_PRODUCTO = #{idProducto}	
        
        
       
        	
	</select>
	
	<update id="ventaInventarioCantidad">
		
		UPDATE TT_FARM_INVENTARIO
    SET
    FTN_CANTIDAD = FTN_CANTIDAD - #{cantidad}
    WHERE FTN_ID_PRODUCTO = #{idProducto}
			
	</update>
	
	
	
	
	
</mapper>